library identifier: 'shared-library@master', retriever: modernSCM(
        [$class: 'GitSCMSource',
        remote: 'https://github.com/javierfiorina/shared-library.git',
        credentialsId: 'github-javierfiorina'])

phppipeline {
        projectName = ""
        jenkinsJNLPAgentImage = "javierjafio/jnpl-slave-docker:1.0"
        registryURL = ""
        gitOpsRepo = ""
}
